.place__website{
  display: grid;
  grid-gap: 12px;
  justify-content: start;
  align-content: end;
  grid-template-rows: repeat(auto-fit, min-content);
}

@media screen and (max-width: 540px) {
  .place__website {
    grid-row: 2;
    width: 90%;
    margin: 0 auto;
  }
}
